<html>
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/_list.css" />
  </head>
  <body>
    <%- include('./partials/nav') %>
    <section class="main-container">
      <% content.forEach((element, index) => { %>
      <div class="card-container">
        <div class="card-body">
          <div class="title-container">
            <h1 class="card-title"><%= element.model %></h1>
            <h1 class="card-title">#<%= element.id %></h1>
          </div>
          <div class="card-vehicle">
            <p>Placa: <%= element.plate %></p>
            <p>Ano: <%= element.year %></p>
          </div>
          <% if(element.reservations.length === 0){ %>
          <p class="status">Veículo não possui histórico de reservas</p>
          <% } else {%>
          <button class="accordion">
            <% if(element.reservations.length > 1) { %>
            <span>Reservas</span>
            <% } else{ %>
            <span>Reserva</span>
            <%} %>
          </button>
          <div class="panel">
            <% for(let i = 0; i < element.reservations.length; i++) { %>
            <div class="card-date">
              <p>Reserva Nº: #<%= element.reservations[i].id %></p>
              <p>
                Início da reserva: <%=
                element.reservations[i].startDate.toLocaleString('pt-BR') %>
              </p>
              <p>
                Fim da reserva: <%=
                element.reservations[i].endDate.toLocaleString('pt-BR') %>
              </p>
              <% if(element.reservations[i].status === 1){ %>
              <p>Estado da reserva: <span class="statusC">Confirmado</span></p>
              <% } else{%>
              <p>Estado da reserva: <span class="status">Cancelado</span></p>
              <% } %>
            </div>
            <%} %>
          </div>
          <% } %>
        </div>
      </div>
      <% }) %>
    </section>
    <script>
      let lar = '<%= content %>';

      // let json = JSON.parse(lar);
      console.log();
    </script>
  </body>

  <script src="/scripts/list.js"></script>
</html>
